{% extends 'layout.njk' %}

{% block head %}}
  <title>Rocketseat - Sobre</title>
{% endblock %}

{% block link  %}
  <a href="/courses">Cursos</a>
{% endblock %}

{% block content %}
  <div id="wrapper">
    <img src="rocketseat-logo.jpg" alt="logo">

    <h1>Rocketseat</h1>

    <p>
      Mais do que uma plataforma de educação em tecnologia, somos uma comunidade 
      incrível de programadores em busca do próximo nível 🚀

      Em um mundo onde a informação fica obsoleta cada vez mais rápido, 
      velocidade de aprendizado é a chave para o sucesso.
      
      Por isso a Rocketseat oferece através de uma plataforma inteligente e 
      metodologia prática, além de comunidade, eventos, conteúdo e conexão com 
      o mercado de trabalho, todas as ferramentas que você precisa para 
      masterizar no menor tempo possível as tecnologias mais modernas de 
      desenvolvimento web e mobile, e dessa forma avançar para o próximo nível 
      como programador.
    </p>

    <strong>Principais tecnologias</strong>
    <ul>
      <li>JavaScript</li>
      <li>ReactJS</li>
      <li>ReactNative</li>
      <li>NodeJS</li>
    </ul>
  </div>
{% endblock %}


{% block footer %}

  <footer>
    <div class="links">
      {% for link in links %}
        <a href="{{link.url}}" target="_blanck">{{link.name}}</a>
      {% endfor %}
    </div>
  </footer>
{% endblock %}