<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block head %}
    <title>Rocketseat</title>
  {% endblock %}

  <link rel="icon" href="favicon.ico" type="image/x-icon" />
 
 <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <div class="links">
      <a href="https://discordapp.com/invite/gCRAFhc" target="_blanck">Comunidade</a>
      <a href="mailto:oi@rocketseat.com.br">Email</a>
      <a href="tel:+5547992078767">Telefone</a>
      {% block link %}
        <a href="/">Sobre</a>
      {% endblock %}
    </div>
  </header>
  
  <div class="main">

    {% block content %}

    {% endblock %}
  </div>
  
  <footer>
    <div class="links">
      <a href="https://github.com/Rocketseat/" target="_blanck">Github</a>
      <a href="https://www.instagram.com/rocketseat_oficial/" target="_blanck">Instagram</a>
      <a href="https://www.facebook.com/rocketseat/" target="_blanck">Facebook</a>
    </div>
  </footer>



  {% block modal %}

  {% endblock %}


  {% block server %}

  {% endblock %}

</body>
</html>