{% extends 'layout.njk' %}

{% block head %}
  <title>Rocketseat - Not Found</title>
{% endblock %}

{% block content %}
  <div id="wrapper">
    <h1>Página não encontrada</h1>

    <p>
      Parece que a página que você quer acessar não existe.
      Por favor, tente acessar outro conteúdo.
    </p>
    
    <strong>Possíveis causas:</strong>
    <ul>
      <li>Erro no link</li>
      <li>Página pode ter sido tirada do ar</li>
      <li>URL foi alterado por algum motivo</li>
    </ul>
  </div>
{% endblock content %}