@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap";

:root {
  --color-green: #50FA7B;
  --color-rocket: #715EC1;
  --color-background: #292A36;
  --color-font-white: #F0F0F0;
}

* {
  bottom: 0;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;

  margin-bottom: 100px;
}

h1, h2, p, li, strong{
  color: var(--color-font-white);
}

p, strong, li {
  font-size: 20px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: var(--color-font-white);
}

li {
  list-style-type: none;
}

header, footer {
  background-color: var(--color-rocket);
}

.main {
  width: 80vw;
  margin: 3% auto 100px;
}

header {
  top: 0;
  width: 100%;
}

.links {
  padding: 2% 0;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.links a {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-right: 5%;
}

.links a:hover {
  color: var(--color-green);
  transition: color 300ms;
}

#wrapper {
  text-align: center;
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-green);
  height: 200px;
  margin-top: 1%;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
  margin-top: 0;
}

#wrapper p {
  max-width: 800px;
  margin: 16px auto;
  text-align: justify;
}

/* === CARDS === */

.cards {
  max-width: 980px;
  margin: 16px auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}

.card {
  background-color: #333;
  height: 350px;
  position: relative;
}


.card__image-container {
  display: flex;
  justify-content: center;
}

.card__image-container img {
  width: 100%;
  max-height: 150px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.card__content {
  display: flex;
  justify-content: center;
}

.card__info {
  padding: 8px;
}

.card__info {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 1fr;
  position: absolute;
  bottom: 0px;
}

.card__price {
  background-color: var(--color-rocket);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}

/* === MODAL === */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: #E7E7E7;
  height: 90%;
  width: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal {
  color: #000;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.modal .maximize-modal {
  color: #000;
  position: absolute;
  left: 8px;
  top: 8px;
  cursor: pointer;
}

/* === MODAL.ACTIVE === */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  height: 90%;
  width: 100%;
  position: absolute;
}

/* === MODAL.MAXIMIZE === */

.modal-overlay.maximize .modal {
  height: 100%;
  width: 100%;
}

/* === FOOTER === */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
